.page.rule
  background-image: url('~img/rule/bg.jpg');
  .rule-wrap 
    width: 700px;
    height: 700px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 320px;
    .rule-content 
      width: 700px;
      height: 2500px;
      background: url('~img/rule/rule.png') no-repeat;
  .button.unlock
    width: 314px;
    height: 80px;
    margin: 0 auto;
    margin-top: 50px;
    background: url('~img/rule/btn-unlock.png') no-repeat;