.page.reg 
  background-image: url('~img/reg/bg.jpg');

.page.reg 
  .reg-form
    width: 470px;
    height: 188px;
    margin: 0 auto;
    margin-top: 580px;
    background: url('~img/reg/form.png') no-repeat;
    position: relative;
    input
      border: none;
      background: none;
      height: 76px;
      width: 388px;
      margin-top: 2px;
      margin-left: 80px;
      box-sizing: border-box;
      font-size: 24px;
      line-heigh: 76px;
      padding-right: 20px;
      color: #808c22;
    input[name='code']
      width: 160px;
      margin-top: 32px;
    .button.code 
      height: 76px;
      width: 228px;
      top: 110px;
      right: 0;
      line-height: 76px;
      text-align: center;
      font-size: 24px;
  .reg-term
    width: 537px;
    height: 59px;
    margin: 0 auto;
    margin-top: 100px;
    background: url('~img/reg/term.png') no-repeat;
    &.agree::after 
      content: ''
      position: absolute;
      width: 30px;
      height: 30px;
      margin-top: 2px;
      margin-left: 2px;
      background: url('~img/reg/check.png') no-repeat;
  .button.unlock 
    width: 470px;
    height: 80px;
    margin: 0 auto;
    margin-top: 60px;
    background: url('~img/reg/btn-unlock.png') no-repeat;

.term-wrap 
  width: 75%;
  margin: 0 auto;
  margin-top: 110px;
  color: #fff;
  font-size: 18px;
  line-height: 1.8;
  height: 880px;
  overflow: hidden;
  text-align: justify;
  .term-content p
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    margin: 10px 0;

.dialog.term 
  .button.yes 
    width: 280px;
    height: 80px;
    left: -290px;
    margin-top: 50px;
    background: url('~img/reg/btn-yes.png') no-repeat;
  .button.no
    width: 280px;
    height: 80px;
    left: 290px;
    margin-top: 50px;
    background: url('~img/reg/btn-no.png') no-repeat;

　　