.page.callin
  background-image: url('~img/callin/bg.jpg');
  .friend-list
    width: 680px;
    height: 202px;
    margin: 0 auto;
    margin-top: 312px;
    overflow: hidden;
    ul
      width: 600px;
      margin: 0 auto;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      li
        img
          border-radius: 50%;
          width: 100px;
          height: 100px;
  .button.share 
    width: 306px;
    height: 80px;
    margin: 0 auto;
    margin-top: 570px;
    background: url('~img/callin/btn-share.png') no-repeat;