.page.home
  background: url('~img/home/bg.jpg') top left;
  .button.start
    width: 247px;
    height: 80px;
    top: 1078px;
    background: url('~img/home/btn-start.png') no-repeat;
  
.dialog-info-tip 
  width: 589px;
  height: 664px;
  background: url('~img/home/tip.png') no-repeat;  

