.page.exchange 
  background-image: url('~img/exchange/bg.jpg');
  .exchange-form
    width: 641px;
    height: 224px;
    margin: 0 auto;
    margin-top: 220px;
    background: url('~img/exchange/form.png') no-repeat;
    input 
      height: 100px;
      width: 640px;
      line-height: 100px;
      border: 0;
      box-sizing: border-box;
      padding: 10px 30px;
      background: rgba(0, 0, 0, 0.3)
      color: #c4d625;
      font-size: 30px;
    .button
      width: 320px;
      height: 82px;
      margin-top: 43px;
      &.back 
        left: -322px;
      &.confirm 
        left: 322px;
  .button.jd
    width: 314px;
    height: 80px;
    margin: 0 auto;
    margin-top: 530px;
    background: url('~img/exchange/btn-jd.png') no-repeat;

.dialog-exchange-success {
  width: 589px;
  height: 472px;
  background: url('~img/exchange/success.png') no-repeat;
}

.dialog-exchange-fail {
  width: 589px;
  height: 472px;
  background: url('~img/exchange/fail.png') no-repeat;
}
