.page.puzzle
  background-image: url('~img/puzzle/bg.jpg');
  .puzzle-wrap
    position: relative;
    width: 589px;
    height: 472px;
    margin: 0 auto;
    margin-top: 290px;
    background: url('~img/puzzle/puzzle.png') no-repeat;
    overflow: hidden;
    .puzzle 
      width: 535px;
      height: 428px;
      position: absolute;
      background: url('~img/puzzle/puzzles/0.jpg') no-repeat;

  .progress
    width: 609px;
    height: 198px;
    margin: 0 auto;
    margin-top: 30px;
    background: url('~img/puzzle/progress.png') no-repeat;
    .progress-bar
      height: 8px;
      width: 600px;
      margin-top: 13px;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.1);
    .progress-percent
      height: 100%;
      width: 55%;
      background-color: #c4d625;
  .actions
    position: relative;
    margin-top: 25px;
    .button
      width: 177px;
      height: 54px;
      &.ulk
        left: -450px;
        background: url('~img/puzzle/btn-ulk.png') no-repeat;
      &.ben
        background: url('~img/puzzle/btn-ben.png') no-repeat;
      &.pet
        left: 450px;
        background: url('~img/puzzle/btn-pet.png') no-repeat;
      &.rule
        top: 90px;
        width: 99px;
        height: 26px;
        background: url('~img/puzzle/btn-rule.png') no-repeat;
      
 