* 
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

html, body 
  height: 100%;
  overflow: hidden;
  font-size: 30px;
  line-height: 1.5;
  -webkit-overflow-scrolling: touch;

body 
  font-family: 'helvetica neue', helvetica, sans-serif;
  background-color: #0d1023;

a 
  text-decoration: none;

ul {
  list-style: none;
}

::-webkit-input-placeholder 
  color: #808c22;

/*-- util --*/
.hide 
  display: none !important;

.abs 
  position: absolute;

.centerX
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

.center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.button {
  display: block;
  cursor: pointer;
}

/*-- page --*/
.page 
  width: 750px;
  height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  overflow: hidden;

.page .logo 
  top: -2px;
  width: 287px;
  height: 149px;
  background: url('~img/logo.png') no-repeat;

/*-- transition --*/
.fadeIn 
  animation fadeIn .3s ease-out

@keyframes fadeIn
  0% 
    opacity: 0
  100%　
    opacity: 100

/*-- app --*/
#app 
  height: 100%;

.dialog 
  width: 750px;
  height: 100%;

/*--- swiper --*/
.swiper-container 
  height: 100%;

.swiper-wrapper 
  height: 100%;

.swiper-slide 
  height: 100%;
  & > div 
    height: 100%;
  

/*-- headup --*/
.headup 
  width: 750px;
  position: absolute;
  z-index: 10;
  top: 0;
  .headup-music
    position: absolute;
    width: 59px;
    height: 55px;
    top: 30px;
    right: 30px;
    background: url('~img/music-on.png') center center no-repeat;
    &.off
      background: url('~img/music-off.png') center center no-repeat;

/*-- loading dialog --*/
.dialog-loading 
  display: flex;
  justify-content: center;
  align-items: center;

/*-- spinner --*/
.spinner
  position: relative;
  box-sizing: border-box;
  display: block;
  font-size: 0;
  color: #fff;
  width: 50px;
  height: 50px;
  &::after 
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    box-sizing: border-box;
    background: transparent;
    border: 4px solid #fff;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: ball-clip-rotate .75s linear infinite;
    
@-webkit-keyframes ball-clip-rotate 
  0% 
    transform: rotate(0deg);
  50% 
    transform: rotate(180deg);
  100% 
    transform: rotate(360deg);
  
