.page.unlock 
  background-image: url('~img/unlock/bg.jpg');
  ul
    width: 620px;
    height: 700px;
    margin: 0 auto;
    margin-top: 350px;
    li
      width: 620px;
      height: 33%;
.dialog-checkin-success
    width: 589px;
    height: 472px;
    background: url('~img/unlock/checkin.png') no-repeat;