* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-size: 30px;
  line-height: 1.5;
}

#app {
  height: 100%;
}

/*--- swiper --*/
.swiper-container {
  height: 100%;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  height: 100%;
  & > div {
    height: 100%;
  }
}


